annotated-types
anyio
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
black
bleach
blinker
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
distro
executing
fastjsonschema
Flask
fonttools
fqdn
gunicorn
h11
httpcore
httpx
idna
iniconfig
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
isort
itsdangerous
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
lark
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mpmath
mypy_extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
openai
packaging
pandas
pandocfilters
parso
pathspec
pillow
platformdirs
pluggy
prometheus_client
prompt_toolkit
psutil
pure_eval
pycparser
pydantic==1.10.15
Pygments
pyparsing
pytest
python-dateutil
python-json-logger
pytokens
pytz
pywinpty
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rich
Send2Trash
setuptools
six
sniffio
soupsieve
stack-data
sympy
terminado
tinycss2
tornado
tqdm
traitlets
typing-inspection
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
